body{
background-image: url(https://st2.depositphotos.com/1764439/7183/i/450/depositphotos_71832519-stock-photo-keyboard-background.jpg);
background-color: rgb(255, 255,255);
background-repeat: no-repeat;
background-size: cover;
}

h1{
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}

button{
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-color: blue;
    color:rgb(255, 255,255);

}

h4{
    font-size: 45px;
    color: white;
    margin: 40px;
}

h2{
    text-align: right;
    color: white;
    font-weight: 200;
    font-size: 20px;
    vertical-align: top;
}

h3{
    text-align: left;
    color: white;
    font-weight: 200;
}

.group{
    justify-content: space-between;
    align-content: center;
    display: flex;
}

.group-2{
    text-align: center;
}
